<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug">
	<appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
			<SMTP name="SMTPAppender"
				  subject="Error Testing"
				  to="mgmedick@live.com"
				  from="speedrunappimport@speedruncharts.com"
				  smtpPort="587"
				  smtpHost="in-v3.mailjet.com"
				  smtpUsername="7145e7c488ee42ed4855d5685510970b"
				  smtpPassword="2e50f86bfea53c7be4d51d6aa83b5898"
				  bufferSize="50">
				<PatternLayout>
					<Pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
				</PatternLayout>
			</SMTP>
		</Console>
	</appenders>
	<loggers>
		<root level="fatal">
			<appender ref="stdout" />
			<appender ref="SMTPAppender" />
		</root>
	</loggers>
</configuration>